<h4>Topics 🚀🃏</h4>

<ul class="collection">
  <%= for topic <- @topics do %>
    <li class="collection-item">
      <%= topic.title %>

      <%= if @conn.assigns.user.id == topic.user_id do %>
        <div class="right">
          <.link href={"/topics/#{topic.id}/edit"} >
            Edit
          </.link>
          <.link href={"/topics/#{topic.id}"} method="delete">
            Delete
          </.link>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="fixed-action-btn">
  <.link href="/topics/new" class= "btn-floating btn-large waves-effect waves-light red accent-2" >
    <li class="material-icons">add</li>
  </.link>
</div>
